
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model profile.ViewModels.BlogPostViewModel
@using Microsoft.AspNetCore.Http

<br>
<h1>Blog</h1>
<h6>Please log in to post</h6>

<hr />

<div class="container">


    @if (Model == null || Model.BlogPosts == null || Model.BlogPosts.Count() == 0)
    {
<h4>No post to display</h4> }

else
{
<br />
                @foreach (var item in Model.BlogPosts)
                {
<div style="width: auto; display: block; border: 1px solid DarkGrey; background-color: LightGrey; margin: 10px 0px 10px 0px; padding: 0px 20px 5px 20px; border-radius: 10px;">

    <div class="container">
        <div class="media  @*borderp-8*@">

            <div class="media-body">
                <a asp-controller="Home" asp-action="DisplayFullPost" asp-route-id="@item.blogpostid">Title @item.title</a>
                <p>@item.shortdescription <p>
                <p>@item.content.Substring(0, Math.Min(@item.content.Length, 100)) ...</p>


                <br />
            </div>
        </div>
    </div>
</div>

                    @if (Context.Session.GetString("RoleId") == "2" && Context.Session.GetString("UserId") != null)
                    {
<a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="EditBlogPost" asp-route-id="@item.blogpostid">Edit Post</a>
                        <a class="btn btn-xs btn-danger" asp-controller="Home" asp-action="DeleteBlogPost" asp-route-id="@item.blogpostid" onclick="return confirm('Are you sure to delete?');" asp-route-id="@item.blogpostid">Delete Post</a>}}}

    @if (Context.Session.GetString("UserId") != null) { 
    <br />
    <div class="text-right">
        <a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="AddBlogPost">Add BlogPost</a>
    </div>
    }
    else
    {
  <div class="text-right">
        <a class="btn btn-xs btn-primary" asp-controller="Home" asp-action="AddBlogPost">Login to Add BlogPost</a>
    </div>
    }
</div>
