@using System.Linq
@*@model PaginatedList<profile.Models.Datum>*@



<hr />
<br />

@*@{
        ViewData["Title"] = "Index";
    }*@
@*<p>
        <a asp-page="About">Create New</a>
    </p>*@


@*<tr>
    <th>
        <a asp-page="./About" asp-route="About">
            @Html.DisplayNameFor(model => model.Users[0].crypto)
        </a>
    </th>
    <th>
        @Html.DisplayNameFor(model => model)
    </th>*@
@*<th>
        <a asp-page="./About" asp-route-sortOrder="@Model.DateSort">
            @Html.DisplayNameFor(model => model.Student[0].EnrollmentDate)
        </a>
    </th>*@

<h2>Data provided by coinmarketcap</h2>


<form asp-controller="Home" asp-action="CryptoIndex">
    <p>
        Search: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table responsive="xl" class="table" style="width:100%">

    <thead>
        <tr>


            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["RankSortParm"]">rank</a>
            </th>

            <th>

                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["NameSortParm"]">name</a>

            </th>

            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["PriceSortParm"]">price</a>
            </th>

            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["24hvolume"]">24h Volume</a>
            </th>
            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["1hSortParm"]"> %1h</a>
            </th>
            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["24h%Parm"]"> %24h</a>
            </th>
            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["7d%Parm"]"> %7d</a>

            </th>
            <th>
                <a asp-action="CryptoIndex" asp-route-sortOrder="@ViewData["MarketCapSortParm"]"> marketcap</a>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @item.cmc_rank
            </td>


            <td>
                @item.name
            </td>

            <td>
                @item.quote.USD.price
            </td>
            <td>
                @item.quote.USD.volume_24h
            </td>
            <td>
                @item.quote.USD.percent_change_1h
            </td>
            <td>
                @item.quote.USD.percent_change_24h
            </td>
            <td>
                @item.quote.USD.percent_change_7d
            </td>
            <td>
                @item.quote.USD.market_cap
            </td>
        </tr>
        }

</table>


@*<td>
        <a asp-page="./Edit" asp-route-id="@item.UserId.">Edit</a> |
        <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
        <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
    </td>*@


